.footer {
    min-height: 150px;
    padding: 50px 0 0;
    background-color: $bg-footer;
    &__list {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        list-style-type: none;
        height: 38px;
        &-item {
            margin: 0 5px;
            a {
                text-decoration: none;
                margin: auto auto;
                border-radius: 15px;
                padding: 8px 10px;
                border: solid #a9a9a9 1px;
                &:hover {
                    border: solid $text-second 1px;
                    span {
                        color: $text-second;
                    }
                }
            }
            span {
                color: #a9a9a9;
            }
        }
    }
    &__copyright {
        margin-top: 15px;
        color: $text-second;
        text-align: center;
        font-family: 'Raleway';
        font-weight: 400;
    }
}
@media (max-width: 420px) {
    .footer {
        min-height: 110px;
        padding: 20px 0 0;
        &__copyright {
            margin-top: 10px;
            font-size: 14px;
        }
    }
}