.projects {
    min-height: 600px;
    padding: 100px 0 90px;
    background-color: $bg-second;
    &__wrapper {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__wrapper-item {
        width: 300px;
        margin-bottom: 20px;

        &:nth-child(n+4) {
            margin-bottom: 0;
        }
        &_clean {
            background-color: $block-main;
            width: 300px;
            height: 300px;
            margin-bottom: 20px;
        }
    }
    &__content {
        margin: 0;
        position: relative;
        text-align: center;
        cursor: pointer;
        border: #000 solid 3px;
        transition: background 0.35s;
        img {
            width: 100%;
            height: 100%;
            transition: opacity 0.35s;
        }
        &:hover {
            background: #fca211;
            img {
                opacity: 0.4;
            }
            h2 {
                top: 55px;
            }
            p {
                top: 85px;
                opacity: 1;
            }
            .projects__content-overlay:before,  .projects__content-overlay:after {
                opacity: 1;
                transform: scale(1);
            }
        }
    }
    &__content-overlay {
        &:before, &:after {
            content: '';
            position: absolute;
            top: 30px;
            right: 30px;
            bottom: 30px;
            left: 30px;
            opacity: 0;
            transition: opacity 0.35s, transform 0.35s;
        }
        &:before {
            border-top: 1px solid #fff;
            border-bottom: 1px solid #fff;
            transform: scale(0,1);
        }
        &:after {
            border-right: 1px solid #fff;
            border-left: 1px solid #fff;
            transform: scale(1,0);
        }
    }
    &__content-text {
        color: $text-main_white;
        font-weight: 400;
        h2 {
            margin: 0;
            position: absolute;
            min-width: 50px;
            top: 45px;
            left: 50%;
            transform: translateX(-50%);
            transition: 1s;
            font-size: 20px;
        }
        p {
            margin: 10px 0 0;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 130px;
            opacity: 0;
            transition: 1s;
        }
    }
}