.projects {
    min-height: 600px;
    padding: 100px 0 90px;
    background-color: $bg-second;
    &__wrapper {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__wrapper-item {
        width: 300px;
        height: 400px;
        background-color: $block-main;
        margin-bottom: 20px;
        &:nth-child(n+4) {
            margin-bottom: 0;
        }
    }
}