.skills {
    min-height: 600px;
    padding: 100px 0 90px;
    background-color: $bg-main;
    &__list {
        margin: 20px auto 0;
        display: block;
        width: 700px;
        color: #666;
        font-size: 20px;
        font-weight: 400;
        // list-style-type: none;
    }
    &__list-item {
        span {
            font-weight: 700;
        }
    }
}