.skills {
    min-height: 500px;
    padding: 80px 0 100px;
    background-color: $bg-main;
    &__list {
        margin: 20px auto 0;
        display: block;
        max-width: 700px;
        color: #666;
        font-size: 20px;
        font-weight: 400;
        // list-style-type: none;
    }
    &__list-item {
        span {
            font-weight: 700;
        }
    }
}

@media (max-width: 1099px) {
    .skills {
        padding: 70px 0 80px;
    }
}
@media (max-width: 800px) {
    .skills {
        padding: 60px 0 70px;
    }
}
@media (max-width: 700px) {
    .skills {
        padding: 50px 0 70px;
        min-height: 400px;
        &__list {
            font-size: 16px;
        }
    }
}
@media (max-width: 420px) {
    .skills {
        padding: 40px 0 55px;
        &__list {
            font-size: 14px;
        }
    }
}