.line {
    display: block;
    margin: 30px auto;
    width: 300px;
    color: $text-main
}

@media (max-width: 1099px) {
    .line {
        margin: 20px auto;
    }
}
@media (max-width: 700px) {
    .line {
        margin: 15px auto;
        width: 220px;
    }
}
@media (max-width: 420px) {
    .line {
        margin: 10px auto;
        width: 190px;
    }
}