@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/SourceSansPro-ExtraLight.eot');
    src: url('../fonts/SourceSansPro-ExtraLight.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SourceSansPro-ExtraLight.woff') format('woff'),
    url('../fonts/SourceSansPro-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;

}
@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/SourceSansPro-Light.eot');
    src: url('../fonts/SourceSansPro-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SourceSansPro-Light.woff') format('woff'),
    url('../fonts/SourceSansPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/SourceSansPro-Regular.eot');
    src: url('../fonts/SourceSansPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SourceSansPro-Regular.woff') format('woff'),
    url('../fonts/SourceSansPro-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/SourceSansPro-SemiBold.eot');
    src: url('../fonts/SourceSansPro-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SourceSansPro-SemiBold.woff') format('woff'),
    url('../fonts/SourceSansPro-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/SourceSansPro-Bold.eot');
    src: url('../fonts/SourceSansPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SourceSansPro-Bold.woff') format('woff'),
    url('../fonts/SourceSansPro-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/SourceSansPro-Black.eot');
    src: url('../fonts/SourceSansPro-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SourceSansPro-Black.woff') format('woff'),
    url('../fonts/SourceSansPro-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
/* Logo */
@font-face {
    font-family: 'Caveat';
    src: url('../fonts/Caveat-Bold.eot');
    src: url('../fonts/Caveat-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Caveat-Bold.woff') format('woff'),
    url('../fonts/Caveat-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
/* Copyright */
@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Regular.eot');
    src: url('../fonts/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Raleway-Regular.woff') format('woff'),
    url('../fonts/Raleway-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}