@media (max-width: 1100px) {
    .container {
        max-width: 900px;
        margin: 0 100px;
    }
}
@media (max-width: 900px) {
    .container {
        margin: 0 50px;
    }
}
@media (max-width: 576px) {
    .container {
        margin: 0 35px;
    }
}
@media (max-width: 420px) {
    .container {
        margin: 0 20px;
    }
}