* {
	font-family: "Roboto", sans-serif;
}

.container {
    position: relative;
    max-width: 950px;
    margin: 0 auto;
}

body {
    background-color: #ffffff;
}


@import "base/mixins";
@import "base/variables";

@import "blocks/header";
@import "blocks/title";
@import "blocks/line";
@import "blocks/forms";

@import "section/hello";
@import "section/projects";
@import "section/skills";
@import "section/contacts";
@import "section/footer";

@import "media";